/* CSS Document */
body {
	margin:0;
	padding:15px 0px 0px 0px;
	}

h2 	{
	color: #4b4b4b;
	font-family: Tahoma;
	font-size: 11px;
	line-height:6px;
	font-weight: normal;
	}
h2.title {
	color:#666666;
	font-weight:bold;
	font-family: arial;
	font-size:20px;
	margin-top:5px;
	border:#FFFFFF;
	}
h3 {
	color:#666;
	font-family:arial;
	font-size:16px;
	line-height:6px;
	}

a{text-decoration:none;}

/*========== table ==========*/
table {
	border-collapse:collapse;
	}
td {
	font-family:tahoma;
	padding:5px;
	}
#table-zebra	{
	margin-bottom: 20px;
	border:1px solid #666666;
	}
#table-zebra th {
	background:#999999;
	color:#FFFFFF;
	font-family:tahoma;
	font-size:14px;
	padding:10px;
	border:1px solid #666666;
	}
#table-zebra td {
	border:1px solid #666666;
	padding:7px;
	font-family:tahoma;
	font-size:12px;
	}

